# symbolic links
os/events/e-puck
os/io/e-puck
os/processes/e-puck
os/platform/e-puck/library
os/events/kilobot
os/io/kilobot
os/processes/kilobot
os/platform/kilobot/library

# Object files
*.o
*.o.d
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# folders
*.mk
dist/*
build/*
debug/*
*.properties
*.bash
*.*~
*~

# Latex
*.aux
*.log
*.synctex.gz
